In [1]:
import pandas as pd
import numpy as np

In [2]:
with pd.ExcelFile("2023student.xlsx") as xls:
    df = pd.read_excel(xls, "Sheet1")

df_stu_name1 = df.iloc[:,[8,5,6,10]]
df_stu_name1 = df_stu_name1.dropna(subset=[df.columns[5]])
df_stu_name1.columns = ['학년','이름','세례명','학생번호']
df_stu_name2 = df.iloc[:,[17,11,13,21]]
df_stu_name2 = df_stu_name2.dropna(subset=[df.columns[11]])
df_stu_name2.columns = ['학년','이름','세례명','학생번호']
df_stu_name3 = df.iloc[:,[18,12,14,22]]
df_stu_name3 = df_stu_name3.dropna(subset=[df.columns[12]])
df_stu_name3.columns = ['학년','이름','세례명','학생번호']
df_stu_name4 = df.iloc[:,[32,23,26,38]]
df_stu_name4 = df_stu_name4.dropna(subset=[df.columns[23]])
df_stu_name4.columns = ['학년','이름','세례명','학생번호']
df_stu_name5 = df.iloc[:,[33,24,27,39]]
df_stu_name5 = df_stu_name5.dropna(subset=[df.columns[24]])
df_stu_name5.columns = ['학년','이름','세례명','학생번호']
df_stu_name6 = df.iloc[:,[34,25,28,40]]
df_stu_name6 = df_stu_name6.dropna(subset=[df.columns[25]])
df_stu_name6.columns = ['학년','이름','세례명','학생번호']

names = [df_stu_name1,df_stu_name2,df_stu_name3,df_stu_name4,df_stu_name5,df_stu_name6]
df_stu_name = pd.concat(names,ignore_index=False)
df_stu_name = df_stu_name.fillna(0)

df_stu_name = df_stu_name.astype({'학생번호':'str'})
df_stu_name["학생번호"] = df_stu_name['학생번호'].str.replace("-","")
df_stu_name["학생번호"] = df_stu_name['학생번호'].str.replace(" ","")
df_stu_name["학생번호"] = df_stu_name['학생번호'].str.replace("\.0","")
df_stu_name["학생번호"] = df_stu_name['학생번호'].str.replace("없음","0")
df_stu_name = df_stu_name.astype({'학생번호':'int'})
df_stu_name = df_stu_name.astype({'학생번호':'str'})
df_stu_name

/var/folders/zx/qhggh7q97sxbtbqjthhz0tkh0000gn/T/ipykernel_4918/483000913.py:30: FutureWarning: The default value of regex will change from True to False in a future version.
  df_stu_name["학생번호"] = df_stu_name['학생번호'].str.replace("\.0","")

      학년    이름     세례명        학생번호
0     중2   김은환    스테파노  1097065230
2     고1   곽승원  크리스티아누  1029461371
3     중3   박관우     다니엘  1047227657
4     중3  남궁서윤    미카엘라  1064870916
5     중1   오지연     플로라           0
6     중1   방은채    레오니아  1036799110
7     고1   이주3     에스더  1064947814
8     중2   진서윤     릴리안  1047490839
10    중2   홍관현     마리아  1071414279
11    중3   이수빈     스텔라  1086821678
12    중3   김예홍    에스테르  1089499164
13    고3   심태현      루카  1053788035
14    중2   류애슬     안젤라  1029470208
15    중3   이시안    에스테르  1030889767
17    중2   신서율   페르페투아  1038503158
18    중2   주현우     필립보           0
19    중2   이태영     라파엘  1020489613
21  2023   우현준     라파엔  1032744060
22    고3   진석규      모세  1094676515
23    중3   김조한    사도요한  1095864314
24    중2   이지우     레베카  1042538246
26    중1   임현서     다니엘  1094122382
27    중1   김민준      루카  1063545170
28    중2   이재우   알렉산데르  1099729296
29    중3   양희성     미카엘  1032479830
30    고2   서연서     스페스           0
31    중1   오재익      요한  1031179634
32    중2   최윤호    가브리엘  1034501569
33    중1   강지유   마리스텔라  1072771568
34    중3   김수민    베로니카  1021678673
35    중2   홍정빈    그레이스  1098099116
36    중1   황태현     다니엘  1057913128
37    중1   김태연     헬레나  1032918122
38    중1   최효원     클라라           0
39    중3   권기현     라파엘  1047065498
40    고2   김의준  서례자 요한  1022799362
42    중1   한세빈      로사  1059293009
43    고2   윤서진     클라라  1039419308
1     중2   이종혁    베네딕토  1067133959
9     중3    이민  세바스티아노  1089027031
20    고3   임서연    세실리아  1062999464
25    고1   김민우   그레고리오  1087343223
41    중1   송승빈    베네딕토           0
44    중2   윤시연    가브리엘  1057922443
1     중1   이소윤  스콜라스티카  1084513969
9     중3    이승      다윗  1089107031
20    고1   임예준    스테파노  1092819464
25    고1   김현우      레오  1087353223
41    중1   송현진  스콜라스티카           0
44    중1   윤태이     라파엘  1057592443
16    고2   장혜원    미카엘라  1024642376
16    중3   장성원    가브리엘  1064252376
16    중1   장효원     라파엘  1038392376

In [3]:
df_stu_num = df_stu_name.copy()
d = {'중1': 1,
     '중2': 2,
     '중3': 3,
     '고1': 4,
     '고2': 5,
     '고3': 6,
     '수험생':7,
    }

df_stu_num['학년'] = df_stu_num['학년'].map(d)
df_stu_num = df_stu_num.sort_values(by='학년',na_position='first')

b = {v:k for k,v in d.items()}

df_stu_num['학년'] = df_stu_num['학년'].map(b)
df_stu_num

     학년    이름     세례명        학생번호
21  NaN   우현준     라파엔  1032744060
31   중1   오재익      요한  1031179634
44   중1   윤태이     라파엘  1057592443
41   중1   송현진  스콜라스티카           0
1    중1   이소윤  스콜라스티카  1084513969
41   중1   송승빈    베네딕토           0
42   중1   한세빈      로사  1059293009
38   중1   최효원     클라라           0
37   중1   김태연     헬레나  1032918122
36   중1   황태현     다니엘  1057913128
33   중1   강지유   마리스텔라  1072771568
27   중1   김민준      루카  1063545170
26   중1   임현서     다니엘  1094122382
16   중1   장효원     라파엘  1038392376
6    중1   방은채    레오니아  1036799110
5    중1   오지연     플로라           0
0    중2   김은환    스테파노  1097065230
10   중2   홍관현     마리아  1071414279
35   중2   홍정빈    그레이스  1098099116
32   중2   최윤호    가브리엘  1034501569
1    중2   이종혁    베네딕토  1067133959
8    중2   진서윤     릴리안  1047490839
28   중2   이재우   알렉산데르  1099729296
24   중2   이지우     레베카  1042538246
19   중2   이태영     라파엘  1020489613
18   중2   주현우     필립보           0
17   중2   신서율   페르페투아  1038503158
44   중2   윤시연    가브리엘  1057922443
14   중2   류애슬     안젤라  1029470208
4    중3  남궁서윤    미카엘라  1064870916
9    중3    이민  세바스티아노  1089027031
9    중3    이승      다윗  1089107031
3    중3   박관우     다니엘  1047227657
39   중3   권기현     라파엘  1047065498
15   중3   이시안    에스테르  1030889767
12   중3   김예홍    에스테르  1089499164
11   중3   이수빈     스텔라  1086821678
16   중3   장성원    가브리엘  1064252376
23   중3   김조한    사도요한  1095864314
29   중3   양희성     미카엘  1032479830
34   중3   김수민    베로니카  1021678673
2    고1   곽승원  크리스티아누  1029461371
25   고1   김현우      레오  1087353223
20   고1   임예준    스테파노  1092819464
7    고1   이주3     에스더  1064947814
25   고1   김민우   그레고리오  1087343223
30   고2   서연서     스페스           0
43   고2   윤서진     클라라  1039419308
16   고2   장혜원    미카엘라  1024642376
40   고2   김의준  서례자 요한  1022799362
20   고3   임서연    세실리아  1062999464
22   고3   진석규      모세  1094676515
13   고3   심태현      루카  1053788035

In [4]:
df_all = df_stu_num.copy()
idx = df_all.index
df_all = pd.concat([df_all,df.iloc[:,[3,4]]],axis=1)
df_all = df_all.rename({df_all.columns[5]:'학부모님 번호'},axis='columns')

df_stu_name = df_stu_name.astype({'학생번호':'str'})
df_stu_name["학생번호"] = df_stu_name['학생번호'].str.replace("-","")
df_stu_name["학생번호"] = df_stu_name['학생번호'].str.replace(" ","")
df_stu_name["학생번호"] = df_stu_name['학생번호'].str.replace("\.0","")
df_stu_name["학생번호"] = df_stu_name['학생번호'].str.replace("없음","0")
df_stu_name = df_stu_name.astype({'학생번호':'int'})
df_stu_name

df_all = df_all.astype({df_all.columns[5]:'str'})
df_all["학부모님 번호"] = df_all['학부모님 번호'].str.replace("-","")
df_all["학부모님 번호"] = df_all['학부모님 번호'].str.replace(" ","")
df_all = df_all.astype({df_all.columns[5]:'int'})
df_all = df_all.astype({df_all.columns[5]:'str'})

df_all = df_all.reset_index(drop=True)

df_all[df_all.columns[3]] = df_all[df_all.columns[3]].apply(lambda x : '0'+ x)
df_all[df_all.columns[5]] = df_all[df_all.columns[5]].apply(lambda x : '0'+ x)
df_all

/var/folders/zx/qhggh7q97sxbtbqjthhz0tkh0000gn/T/ipykernel_4918/2412447747.py:9: FutureWarning: The default value of regex will change from True to False in a future version.
  df_stu_name["학생번호"] = df_stu_name['학생번호'].str.replace("\.0","")

     학년    이름     세례명         학생번호    학부모님 성명      학부모님 번호
0   NaN   우현준     라파엔  01032744060        강진희  01088999159
1    중1   오재익      요한  01031179634        차은환  01091169634
2    중1   윤태이     라파엘  01057592443        최윤진  01045002443
3    중1   송현진  스콜라스티카           00     고재영 보나  01055304204
4    중1   이소윤  스콜라스티카  01084513969        최희선  01077607744
5    중1   송승빈    베네딕토           00     고재영 보나  01055304204
6    중1   한세빈      로사  01059293009        이설아  01090223003
7    중1   최효원     클라라           00        권지인  01097661842
8    중1   김태연     헬레나  01032918122        백정인  01083398122
9    중1   황태현     다니엘  01057913128        김지영  01088600306
10   중1   강지유   마리스텔라  01072771568  설다미 가브리엘라  01028631568
11   중1   김민준      루카  01063545170        강선모  01063125170
12   중1   임현서     다니엘  01094122382    유지연 율리아  01094122382
13   중1   장효원     라파엘  01038392376        김윤희  01031769700
14   중1   방은채    레오니아  01036799110        박현주  01029819110
15   중1   오지연     플로라           00        민주희  01021576268
16   중2   김은환    스테파노  01097065230        조문주  01045125230
17   중2   홍관현     마리아  01071414279        정현주  01062527772
18   중2   홍정빈    그레이스  01098099116   홍영기/ 김미선  01033969116
19   중2   최윤호    가브리엘  01034501569        임지현  01054191569
20   중2   이종혁    베네딕토  01067133959        최희선  01077607744
21   중2   진서윤     릴리안  01047490839        고명선  01088030839
22   중2   이재우   알렉산데르  01099729296        김나미  01089549296
23   중2   이지우     레베카  01042538246        최서연  01087519629
24   중2   이태영     라파엘  01020489613        정재은  01089319613
25   중2   주현우     필립보           00        신동연  01072220134
26   중2   신서율   페르페투아  01038503158        유세진  01054113158
27   중2   윤시연    가브리엘  01057922443        최윤진  01045002443
28   중2   류애슬     안젤라  01029470208    박핸 율리안나  01047124038
29   중3  남궁서윤    미카엘라  01064870916        이라지  01088191120
30   중3    이민  세바스티아노  01089027031        이재인  01037857031
31   중3    이승      다윗  01089107031        이재인  01037857031
32   중3   박관우     다니엘  01047227657        임윤정  01091547657
33   중3   권기현     라파엘  01047065498    박희영 수산나  01036315498
34   중3   이시안    에스테르  01030889767        진유희  01045809767
35   중3   김예홍    에스테르  01089499164        백정연  01062729164
36   중3   이수빈     스텔라  01086821678        김선아  01042241678
37   중3   장성원    가브리엘  01064252376        김윤희  01031769700
38   중3   김조한    사도요한  01095864314        차은하  01054474314
39   중3   양희성     미카엘  01032479830        신혜정  01039209830
40   중3   김수민    베로니카  01021678673        박영애  01033118673
41   고1   곽승원  크리스티아누  01029461371        이나연  01050071371
42   고1   김현우      레오  01087353223     손주연 로사  01087552489
43   고1   임예준    스테파노  01092819464    김민성 요안나  01037269464
44   고1   이주3     에스더  01064947814        최상희  01087207814
45   고1   김민우   그레고리오  01087343223     손주연 로사  01087552489
46   고2   서연서     스페스           00        김혜욱  01039431896
47   고2   윤서진     클라라  01039419308  유승연 클라우디아  01054939308
48   고2   장혜원    미카엘라  01024642376        김윤희  01031769700
49   고2   김의준  서례자 요한  01022799362        한지현  01037099362
50   고3   임서연    세실리아  01062999464    김민성 요안나  01037269464
51   고3   진석규      모세  01094676515        최예림  01036696515
52   고3   심태현      루카  01053788035     함원엘리사벳  01053788035

In [5]:
df_all.to_excel('학생명단.xlsx')